// Place all the styles related to the playlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: HollywoodCapital;
    src: url(../fonts/hollywood_capital/HollywoodCapital.tff);
}

.body{
	margin: 0;
}

.currentTrackContainer{
	height: 200px;

	h1{
		font-size: 30px;
		font-style: italic;
		font-family: HollywoodCapital;
	}
}